@import "../utils/vars.scss";

.employers-cards {
   display: grid;
   gap: 20px;
   margin-top: 50px;
   margin-bottom: 50px;

   @media screen and (min-width: $phoneWidth) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
   }
   @media screen and (min-width: $smDesktopWidth) {
      grid-template-columns: repeat(3, 1fr);
      gap: 29px;
   }

   .employers-cards-wrapper {
      display: block;
      overflow: hidden;
   }
}

.employers-show-more {
   display: flex;
   justify-content: center;
}

.card {
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   justify-content: space-between;

   .card-fullname, .card-info > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   .card-photo {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      overflow: hidden;
      margin: 0 auto;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iNzAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMzUiIGN5PSIzNSIgcj0iMzUiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMzUgNzBhMzUgMzUgMCAxIDEgMC03MCAzNSAzNSAwIDAgMSAwIDcwWk0xMS4yIDU3LjZjMTMgMTMuNyAzNSAxMy41IDQ3LjUgMGwtLjgtMWExNC44IDE0LjggMCAwIDAtNC41LTNjLTIuMi0xLTQuNS0xLjgtNi43LTIuN2wtMy0xLjVhMy40IDMuNCAwIDAgMS0yLTN2LTMuM2MwLS43LjEtMS4zLjYtMiAxLjctMi4xIDIuNi00LjYgMi42LTcuNCAwLS40LjItLjcuNS0xIC43LS42IDEuNC0xLjIgMS42LTIuMmwuNS0zLjFjMC0uOSAwLTEuNy0xLjEtMS44bC40LTMuNmMuMS0yLjQtLjEtNC44LTEuNC03YTUuNSA1LjUgMCAwIDAtNC44LTMgMyAzIDAgMCAxLS44LS4yIDE2IDE2IDAgMCAwLTguNC0uNiAxMCAxMCAwIDAgMC04LjIgMTEuNWwuNSAzYy0uOCAwLTEuMi40LTEuMiAxLjEgMCAyLjIgMCA0LjMgMiA1LjguNC40LjUuOS42IDEuNWwuMyAyLjRjLjMgMS44IDEuNCAzLjMgMi4zIDQuOS4zLjMuNS44LjUgMS4zdjMuNmMwIDEuMy0uNiAyLjItMS42IDNMMjUgNTBsLTMuNyAxLjVjLTIuNyAxLTUuMiAyLTcuNiAzLjYtMSAuNi0xLjggMS40LTIuNiAyLjRaIiBmaWxsPSIjRDBDRkNGIi8+PC9zdmc+");

      img {
         object-fit: cover;
         &:not(.loaded) {
            visibility: hidden;
         }
      }
   }
}