.register-form {
   margin-inline: auto;
   display: grid;
   gap: 24px;
   margin-top: 50px;
   max-width: 380px;

   .radio-group {
      display: grid;
      gap: 10px;
      margin-block: -7px 22px;
   }
}
