@import "../utils/vars";

.error--text {
   color: $colorError !important;
   caret-color: $colorError !important;
}

.primary--text {
   color: $colorSecondary !important;
}

.input-label {
   color: $colorLabel;
}

.text-field {
   align-items: flex-start;
   display: flex;
   flex: 1 1 auto;
   font-size: 16px;
   letter-spacing: normal;
   max-width: 100%;
   text-align: left;
   transition: border .3s cubic-bezier(.25, .8, .5, 1);
   border-radius: 4px;
   position: relative;

   /* &:not(.error--text) fieldset {
       color: $colorGrey;
    }*/

   &.input {
      &--is-focused {
         input::placeholder {
            color: $colorGrey;
         }

         fieldset {
            border: 2px solid currentColor;

         }
      }

      &--has-state fieldset {
         border-color: currentColor;
      }
   }


   &:not(.input--has-state) {
      .input__slot:hover {
         fieldset {
            border-color: $colorSecondary;
         }
      }
   }

   fieldset {
      border-collapse: collapse;
      border-color: $colorGrey;
      border-style: solid;
      border-width: 1px;
      border-radius: inherit;
      bottom: 0;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      padding-left: 8px;
      top: -5px;
      transition-duration: .15s;
      transition-property: color;
      transition-timing-function: cubic-bezier(.25, .8, .25, 1);
   }

   .input-label {
      height: 20px;
      line-height: 16px;
      letter-spacing: normal;
      top: 18px;
      transform-origin: top left;
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      left: 0;
      right: auto;
      position: absolute;
      cursor: inherit;

      &.input-label--active {
         transform: translateY(-24px) scale(.75);
      }
   }

   input {
      flex: 1 1 auto;
      line-height: 20px;
      padding: 8px 0 8px;
      max-width: 100%;
      min-width: 0;
      width: 100%;
      background-color: transparent;
      border-style: none;
      font-family: inherit;

      &::placeholder {
         color: transparent;
         transition: color 0.3s cubic-bezier(.25, .8, .5, 1);
      }
   }

   .input__control {
      display: flex;
      flex-direction: column;
      height: auto;
      flex-grow: 1;
      flex-wrap: wrap;
      min-width: 0;
      width: 100%;
      border-radius: inherit;

      .input__slot {
         color: inherit;
         display: flex;
         margin-bottom: 4px;
         position: relative;
         transition: .3s cubic-bezier(.25, .8, .5, 1);
         width: 100%;
         min-height: 54px;
         padding-left: 1rem;
         padding-right: 1rem;
         border-radius: inherit;
         align-items: stretch;
         cursor: text;


         legend {
            line-height: 10px;
            padding: 0;
            margin-left: 4px;
            transition: width .3s cubic-bezier(.25, .8, .5, 1);

            .legend-helper {
               font-size: 0.75em;
               line-height: inherit;
               padding-inline: 4px;
               opacity: 0;
               color: transparent;
               white-space: nowrap;
            }
         }

         .text-field__slot {
            display: flex;
            flex: 1 1 auto;
            position: relative;
            align-items: center;
            cursor: text;
            width: 100%;
         }
      }
   }

   .input-messages {
      flex: 1 1 auto;
      font-size: 12px;
      min-height: 14px;
      min-width: 1px;
      position: relative;

      &__message {
         line-height: 14px;
         word-break: break-word;
         overflow-wrap: break-word;
         word-wrap: break-word;
         -webkit-hyphens: auto;
         -ms-hyphens: auto;
         hyphens: auto;
      }
   }

   .text-field__details {
      margin-bottom: 8px;
      padding-inline: 16px;
   }
}



.radio {
   align-items: center;
   display: flex;
   height: auto;
   outline: none;
   cursor: pointer;

   .input--selection-controls__input {
      color: $colorGrey;
      display: inline-flex;
      flex: 0 0 auto;
      height: 24px;
      position: relative;
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      transition-property: transform;
      width: 24px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-right: 8px;
   }

   .label {
      font-size: 16px;
      line-height: 1;
      min-height: 8px;
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      cursor: pointer;
   }

   [type="radio"] {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
}

.file-input {
   overflow: hidden;

   &.input--is-dirty {
      .file-input__text {
         color: initial;
      }

      &.input--has-state {
         .input__prepend-inner, fieldset {
            border: 2px solid $colorError;
         }
      }
   }

   .input__control .input__slot{
      padding-inline: 0;
   }
   .file-input__text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 80px);
      padding-inline: 16px;

      &--placeholder {
         color: $colorLabel;
      }
   }

   input[type=file] {
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      max-width: 0;
      width: 0;
      flex: 1 1 auto;
      line-height: 20px;
      padding: 8px 0 8px;
      min-width: 0;
   }

   fieldset {
      top: 0;
   }

    .input__prepend-inner {
      border: solid 1px currentColor;
      color: $mainFontColor;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      padding-inline: 15px 14px;
      width: 83px;
      align-items: center;
      height: 54px;
      position: relative;
      border-radius: 4px 0 0 4px;

      + .input__control fieldset {
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
      }
   }
}

.icon {
   align-items: center;
   display: inline-flex;
   font-feature-settings: "liga";
   font-size: 24px;
   justify-content: center;
   letter-spacing: normal;
   line-height: 1;
   position: relative;
   text-indent: 0;
   transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

   .icon__svg {
      height: 24px;
      width: 24px;
   }

   :after {
      background-color: currentColor;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform: scale(1.3);
      width: 100%;
      transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
   }
}

