// Font
$mainFont: 'Nunito', sans-serif;

// Size
$backgrountColor: #f8f8f8;
$mainFontColor: hsla(0, 0%, 0%, 0.87);
$colorSecondary: #00BDD3;
$colorPrimary:#F4E041;


$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.625;

$lgDesktopWidth: 2560px;
$desktopWidth: 1170px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 360px;

