@import 'utils/vars';
@import 'utils/reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
   scroll-behavior: smooth;
   line-height: $mainLineHeight;
   font-size: $mainFontSize;
   color: $mainFontColor;
   height: 100%;
   @media screen and (max-width: $desktopWidth) {
      font-size: 16px;
   }
   @media screen and (max-width: $tableWidth) {
      font-size: 15px;
   }
   @media screen and (max-width: $phoneWidth) {
      font-size: 14px;
   }
}

body {
   font-family: $mainFont;
   font-size: $mainFontSize;
   font-weight: $mainFontWeight;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0;
   padding: 0;
   text-rendering: optimizelegibility;
   // background-color: #f7f7f7;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

a {
   text-decoration: none;
}

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

footer {
   margin-top: 60px;
}

section {
   + section {
      margin-top: 140px;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0 auto;
}

.wrapper-content {
   display: flex;
   flex-direction: column;
   min-height: 70vh;
   row-gap: 140px;
   //margin-top: 60px; // if header is fixed do 60px+headerHeight
   background-color: $backgrountColor;
   padding-bottom: 100px;
}

.container {
   margin: 0 auto;
   padding: 0 16px;
   min-width: 360px;
   width: 100%;

   @media screen and (min-width: $tableWidth) {
      max-width: $desktopWidth;
      padding: 0 32px;
   }
   @media screen and (min-width: $smDesktopWidth) {
      max-width: $desktopWidth;
      padding: 0 60px;
   }
   @media screen and (min-width: $desktopWidth) {
      max-width: $desktopWidth;
      padding: 0 max(0px, calc(1230px - 100vw));
   }

}

.view {
   width: 100%;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
}

.header-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #ffffff;
   height: 60px;
   overflow: hidden;
   .header-logo{
      transform: translateY(-1px);
   }
   .header-buttons {
      display: flex;
      column-gap: 10px;
   }
}

h1 {
   font-size: 40px;
   line-height: 1em;
   text-align: center;
   margin-bottom: 21px;
}

.definition {
   text-align: center;
}

.greetings {
   color: #FFFFFF;
   background-image: url('../assets/greetings360.jpg');
   background-position: center;
   height: 500px;
   position: relative;
   text-align: center;
   background-repeat: no-repeat;

   .container {
      @media screen and (min-width: $phoneWidth) {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 0;
      }
      margin-top: 40px;
      height: 100%;
   }

   @media screen and (min-width:$smPhoneWidth + 1px) {
      background-image: url('../assets/greetings768.jpg');
   }
   @media screen and (min-width: $tableWidth +1px) {
      background-image: url('../assets/greetings1024.jpg');
   }
   @media screen and (min-width: $smDesktopWidth ) {
      height: 650px;
      background-image: url('../assets/greetings2056.jpg');
   }

   .greetings-content {
      max-width: 380px;
      z-index: 10;
   }

   .signup {
      margin-top: 32px;
   }
}



.list-enter-active,
.list-leave-active {
   transition: all 1s cubic-bezier(.25, .8, .5, 1);;
}
.list-enter-from,
.list-leave-to {
   opacity: 0;
   transform: translateY(30px);
}

@import './common/_common';
